@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui;
  color: #243e63;
}

a {
    text-decoration: none;

}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
    line-height: 1.25;
    font-size: 36px;
    display: block;
    font-weight: bold;
    unicode-bidi: isolate;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.row,
.nav__row {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

.purple {
  color: #6415ff;
}

section {
  padding: 0 32px;
}

main {
  margin-bottom: 96px;
}

/* 

NAVBAR â†“

*/

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
}

.nav__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--img {
  width: 40px;
  height: 40px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  letter-spacing: 0.6px;
  padding-bottom: 2px;
}
.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
  width: 45%;
  justify-content: space-around;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  padding-top: 4px;
  border-bottom: 2px solid transparent;
  transition: all 300ms;
  letter-spacing: 0.35px;
}

.nav__link:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  opacity: 0;
  transition: all 300ms;
}

.btn__menu {
  display: none;
  background: transparent;
  border: none;
  transition: all 300ms ease;
}

.btn__menu--svg:hover {
  filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg)
    brightness(94%) contrast(115%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.modal__links {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal__link {
  color: #1a202c;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
  margin: 8px 0;
  padding-bottom: 4px;
  border-bottom: 2px solid transparent;
}

.modal__link--primary {
  color: #f7fafc;
  padding: 12px 32px;
  background: #6415ff;
  border-radius: 500px;
  border: none;
}

.menu--open .modal {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.btn__menu--close {
  position: fixed;
  top: 24px;
  right: 18px;
}

/* 

HEADER / ABOUT US â†“

*/

header .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__img {
    width: 60%;
}

.header__title-wrapper {
    width: 40%;
}

.picture_1 {
    width: 85%;
}

.header__description--para {
    margin: 32px 0;
}

/* 

FEATURES â†“

*/

#features {
  position: relative;
}

#features .row__narrow {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

QUALITY WORK â†“

*/

#quality .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

STEPS â†“

*/

#steps .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 

VALUES â†“

*/

#values .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*

PRICING â†“

*/

#pricing .row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 

TESTIMONIALS â†“

*/

#testimonials .row {
  display: flex;
}

/* 

START / CALL TO ACTION â†“

*/

#start .row {
  position: relative;
  overflow: hidden;
}

/* 

FOOTER â†“

*/

footer {
  padding: 96px 32px;
  background-color: rgb(100, 21, 255);
  margin-bottom: -32px;
  position: relative;
  overflow: hidden;
}

/* 

MOBILE RESPONSIVENESS â†“

*/

@media (max-width: 1280px) {
  header .row {
    align-items: flex-end;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  header .row {
    flex-direction: column;
    align-items: center;
  }
  footer {
    padding: 80px 32px;
  }
}

@media (max-width: 768px) {
  #quality .row,
  #values .row {
    flex-direction: column-reverse;
  }
  #steps .row,
  #testimonials .row {
    flex-direction: column;
    align-items: center;
  }
  #pricing .row {
    margin-top: 40px;
  }
}

@media (max-width: 640px) {
  .container {
    padding: 80px 0;
  }
  .nav__logo {
    margin: 8px 0;
    padding-bottom: 4px;
  }
  main {
    margin-bottom: 80px;
  }
}
